<%- include("header") -%>

<div class="table-data">
    <table class="table table-success table-striped mt-3">
        <thead>
            <tr>
              <th style="width:30%" scope="col">From</th>
              <th style="width:30%" scope="col">Recipient</th>
              <th style="width:20%" scope="col">Date</th>
              <th style="width:20%" scope="col">Amount</th>
            </tr>
        </thead> 
        <tbody>
            <% transs.forEach(function(oneClient){ %>
                <tr>
                    <th scope="row"><%= oneClient.from %></th>
                    <td><%= oneClient.to %></td>
                    <td><%= oneClient.date %></td>
                    <td><%= oneClient.money %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include("footer") -%>